$d-green: #14281d;
$s-green: #52e23c;
$l-green: #d3f6db;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  h1,
  h2 {
    font-family: Nunito, sans-serif;
  }
  p,
  h3,
  h4 {
    font-family: Poppins, sans-serif;
  }
}
.btn {
  margin: 5px;
  background-color: $d-green;
  border-color: transparent;
  border-radius: 6px;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.container {
  padding: 10px 10px 0 10px;
}
